h1 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.robots {
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
	margin-top: 250px;
	margin-left: 38px;
	transform: scale(0.1);

}
.robots{
 cursor: pointer; 
}

.robots:hover{
	transform: scaleX(1.1);
	transition: 3s;
}

.head, 
.left_arm, 
.torso, 
.right_arm, 
.left_leg, 
.right_leg {
	 background-color: #5f93e8;
}

.head { 
	width: 200px; 
	margin: 0 auto; 
	height: 150px; 
	border-radius: 200px 200px 0 0; 
	margin-bottom: 10px;
} 

.eyes {
	display: flex
}

.head:hover {
	width: 300px;
    transition: 1s ease-in-out;
}

.upper_body { 
	width: 300px; 
	height: 150px;
	display: flex; 
} 

.left_arm, .right_arm { 
	width: 40px; 
	height: 125px;
	border-radius: 100px; 
} 

.left_arm { 
	margin-right: 10px; 
} 

.right_arm { 
	margin-left: 10px; 
} 

.torso { 
	width: 200px; 
	height: 200px;
	border-radius: 0 0 50px 50px; 
} 

.lower_body { 
	width: 200px; 
	height: 200px;
	margin: 0 auto;
	display: flex; 
} 

.left_leg, .right_leg { 
	width: 40px; 
	height: 120px;
	border-radius: 0 0 100px 100px; 
} 

.left_leg { 
	margin-left: 45px; 
} 

.left_leg:hover {
	-webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
}

.right_leg:hover{
	-webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

.right_leg { 
	margin-left: 30px; 
	
}

.left_eye, .right_eye{ 
	width: 20px; 
	height: 20px; 
	border-radius: 15px; 
	background-color: white;  
} 

.right_arm{
    transform-origin: left top;
	animation: rightArmRun .4s linear 0s infinite alternate; 
}


.left_arm{
    transform-origin: right top;
	animation: leftArmRun .4s linear 0s infinite alternate;

}
.right_leg{
    transform-origin: left top;
	animation: rightArmRun .4s linear 0s infinite alternate; 
}


.left_leg{
    transform-origin: right top;
	animation: leftArmRun .4s linear 0s infinite alternate;
}

.left_eye { 
	position: relative; 
	top: 100px; 
	left: 40px; 
} 

.right_eye { 
	position: relative; 
	top: 100px; 
	left: 120px; 
}

body
{
	background-image: url("road.jpg");
	background-position: center;
}

@keyframes leftArmRun {
	0% {
		transform: scaleY(1.3) rotateX(-45deg) rotateY(50deg) rotateZ(15deg);  
	}
	100% {
		transform: scaleY(1.3) rotateX(35deg) rotateY(0deg) rotateZ(-10deg) ;  
	}
}
@keyframes rightArmRun {
	0% {
		transform: scaleY(1.3) rotateX(35deg) rotateY(0deg) rotateZ(-10deg);     
	}
	100%{
		transform: scaleY(1.3) rotateX(-45deg) rotateY(50deg) rotateZ(15deg);  
	}
}
@keyframes leftLegRun {
	0% {
		transform: scaleY(1.3) rotateX(-45deg) rotateY(50deg) rotateZ(15deg);  
	}
	100% {
		transform: scaleY(1.3) rotateX(35deg) rotateY(0deg) rotateZ(-10deg) ;  
	}
}
@keyframes rightLegRun {
	0% {
		transform: scaleY(1.3) rotateX(35deg) rotateY(0deg) rotateZ(-10deg);     
	}
	100%{
		transform: scaleY(1.3) rotateX(-45deg) rotateY(50deg) rotateZ(15deg);  
	}
}


